@using HUTOPS
@{
    Layout = "~/Views/Shared/_LayoutAdminPanal.cshtml";
    Page.Title = "Index";
}
<div class="container-fluid">
    <div class="boxWraper infoBox">
        <div class="headBox">
            <h2>Documents</h2>
        </div>
        <form id="fileUploadForm" enctype="multipart/form-data" >
            <div class="row">
                <div class="col-lg-3">
                    <label>A recent passport size photograph. Please do not use old photographs.*</label>
                </div>
                <div class="col-lg-3">
                    <input class="form-control" type="file" id="Photograph" size="1" name="Photograph" accept=".jpeg, .jpg" onchange="checkFileSize(this.id, 'errPhoto')" required>
                    <span class="text-danger" id="errPhoto"></span>
                    <!-- Other file input fields -->
                </div>
            </div><br /><br />
            <div class="row">
                <div class="col-lg-3">
                    <label>A scanned copy of your original SSC Final Marks Sheet *</label>
                </div>
                <div class="col-lg-3">
                    <input type="file" class="form-control" id="SSCMarkSheet" size="1" name="SSCMarkSheet" accept=".jpeg, .jpg" onchange="checkFileSize(this.id, 'errSSC')" required>
                    <span class="text-danger" id="errSSC"></span>
                </div>
            </div><br /><br />
            <div class="row">
                <div class="col-lg-3">
                    <label>A scanned copy of your original HSSC I or final HSSC Marks Sheet</label>
                </div>
                <div class="col-lg-3">
                    <input type="file"  class="form-control"id="HSSCMarkSheet" size="1" name="HSSCMarkSheet" accept=".jpeg, .jpg" onchange="checkFileSize(this.id, 'errHSSC')">
                    <span class="text-danger" id="errHSSC"></span>
                </div>
            </div><br /><br />
            <div class="row">
                <div class="col-lg-3">
                    <label>A scanned copy of your B-Form or CNIC (If available)</label>
                </div>
                <div class="col-lg-3">
                    <input type="file" id="CNIC" class="form-control" size="1" name="CNIC" accept=".jpeg, .jpg" onchange="checkFileSize(this.id, 'errCNIC')">
                    <span class="text-danger" id="errCNIC"></span>
                </div>
            </div><br /><br />
            <div class="row">
                <div class="col-lg-12">

                    <input class="savebtn global-btn-purple  float-right" type="button" onclick="submitDocuments('@HUTOPS.Helper.Helper.GetSession(HUTOPS.Helper.Constants.Session.UserId)');" value="Submit">
                </div>
            </div>
        </form>
        <div id="Error">
            <ul></ul>
        </div>
    </div>
</div>
<a href="@Url.Action("Index", "Declaration")" id="redirectLnktoDeclaration"  hidden></a>


