
@{
    Layout = "~/Views/Shared/_LayoutAdminPanal.cshtml";
    Page.Title = "Index";
}
<div class="container-fluid">
    <div class="boxWraper infoBox">
        <div class="headBox">
            <h1>Documents</h1>
        </div>
        <form id="fileUploadForm" enctype="multipart/form-data">
            <label for="bFormCnic">Scanned copy of B-Form/CNIC:</label>
            <input type="file" id="bFormCnic" size="2" name="bFormCnic" accept=".jpeg, .jpg" required><br><br>
            <p id="fileSizeMessage" class="bg-danger badge-danger"></p>
            <!-- Other file input fields -->

            <button type="submit">Upload</button>
        </form>
    </div>
</div>

<script>
        if ('@ViewBag.Result' !== "")
        {
            ShowDivSuccess('@ViewBag.Result');
        }
    $(document).ready(function () {

        $('#fileUploadForm').submit(function (e) {
            e.preventDefault();

                var formData = new FormData(this);
                $.ajax({
                    url: '/Documents/UploadFiles', // Change the URL to your MVC controller's action
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        // Handle success response
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                    }
                });
        });

        var maxFileSize = 2097152; // 2 MB

        // Attach a change event handler to the file input element
        $("#bFormCnic").change(function () {
            var fileSize = this.files[0].size; // Get the file size in bytes

            // Check if the file size exceeds the maximum limit
            if (fileSize > maxFileSize) {
                $("#fileSizeMessage").text("File size exceeds the maximum allowed size.");
                this.value = ""; // Clear the file input to prevent submission
            } else {
                $("#fileSizeMessage").text(""); // Clear any previous error message
            }
        });
    });
</script>
