@model List<Activity>
@{
    Page.Title = "Activity";
    Layout = "~/Views/Shared/_LayoutAdminPanal.cshtml";
}


<div class="container-fluid">
    <div class="boxWraper infoBox">
        <div class="headBox">
            <h2>Activity</h2>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Activity Name</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Duration</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="divActivity">
                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input type="text" class="form-control ActivityName" value="@item.Name">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input type="text" class="form-control ActivityDuration" value="@item.Duration" required="">
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col-lg-12">
                <button type="button" class="global-btn-purple float-right" onclick="AddActivityRow();"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-12">
                @if (ViewBag.Declaration != 1)
                {
                    <input class="savebtn global-btn-purple  float-right" type="button" onclick="SubmitActivity();" value="Submit">
                }
                else
                { <span class="text-danger float-right">You have already Submited your Application</span>
                }
            </div>
        </div>
    </div>
</div>
<a href="@Url.Action("TestDate","Home")" id="redirectToTestDate" hidden></a>
