@{
    Layout = "~/Views/Shared/_loginLayout.cshtml";
    Page.Title = "Forgot Password";
}

<section class="signInWrap">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-6 p-0 none991">
                <div class="contentWrap">
                    <div class="row d-flex justify-content-center">
                        <img src="~/Content/Images/bg_logo_large.jpg" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="contentWrap">
                    <br /><br /><br /><br />
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12">
                            <img src="~/Content/img/HUTOPS-logo.png" alt="Alternate Text" />

                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8">

                            <div class="headBox">
                                <h2>Forgot Password</h2>
                            </div>
                            <form method="post">
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="email"><b>Email</b></label>
                                            <input class="input input100" type="email" placeholder="Enter Email" name="email" maxlength="25" required>
                                        </div>
                                    </div>
                                </div>
                                @if (@ViewBag.Result + "" != "")
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="alert alert-danger" style="max-height: 45px;">
                                                <p style="color:red;">@ViewBag.Result</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="savebtn global-btn-purple  float-right" type="submit">Submit</button>
                                    </div>
                                </div><br /><br />
                                <div class="row">
                                    <p>Create new account <a href="@Url.Action("Login","Account")">Sign In</a>.</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 justify-content-end">
            <div class="col-lg-6 p-0 justify-content-flex-end">
                <p class="loginFooter">© Habib University <span>|</span> Powered by <a href="#" class="hoverUnderLine">HUIT</a> (ISO 27001 Certified)</p>
            </div>
        </div>
    </div>
</section>
