@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Custom/LoginCustom.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

    @*Notify CDN*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js" integrity="sha512-uE2UhqPZkcKyOjeXjPCmYsW9Sudy5Vbv0XwAVnKBamQeasAVAmH6HR9j5Qpy6Itk1cxk+ypFRPeAZwNnEwNuzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" integrity="sha512-CJ6VRGlIRSV07FmulP+EcCkzFxoJKQuECGbXNjMMkqu7v3QYj37Cklva0Q0D/23zGwjdvoM4Oy+fIIKhcQPZ9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="~/Scripts/Custom.js"></script>
</head>
<body>

    <div id="model" class="modal">

        <form class="modal-content animate" method="post" id="registerForm">
            @Html.AntiForgeryToken()
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="~/Content/Images/img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">

                <label for="fname"><b>First Name</b></label>
                <input type="text" placeholder="Enter FirstName" maxlength="25" id="fname" name="fname" required>

                <label for="mname"><b>Middle Name</b></label>
                <input type="text" placeholder="Enter Middle Name" id="mname" name="mname" maxlength="25">

                <label for="lname"><b>Last Name</b></label>
                <input type="text" placeholder="Enter Last Name" name="lname" id="lname" maxlength="25" required>

                <label for="cnic"><b>CNIC</b></label>
                <input type="tel" placeholder="Enter CNIC" id="cnic" name="cnic" pattern="[0-9]{10}" onchange="checkCNIC();" maxlength="15" required>
                <p id="cnicError" style="color:red;"></p>

                <label for="number"><b>Phone Number</b></label>
                <input type="tel" placeholder="Enter Phone Number" pattern="[0-9]{10}" id="number" onchange="checkPhoneNumber();" name="number" maxlength="12" required>
                <p id="numberError" style="color:red;"></p>

                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter Email" name="email" id="email" onchange="checkEmail();" required>
                <p id="emailError" style="color:red;"></p>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="**************" name="password" id="password" maxlength="25" minlength="6" oninput="validate()" required>

                <label for="cpassword"><b> Confirm Password</b></label>
                <input type="password" placeholder="**************" name="cpassword" id="cpassword" maxlength="25" minlength="6" oninput="validate()" required>
                @if (@ViewBag.Result + "" != "")
                {
                    <div class="container signin">
                        <p style="color:red;">@ViewBag.Result</p>
                    </div>
                }
                <div class="container signin" id="divError">
                    <p style="color:red;" id="error"></p>
                </div>
                <button type="button" id="btnSubmit">Register</button>
            </div>
            <div class="container signin">
                <p>Already have an account? <a href="@Url.Action("Login","Account")">Sign In</a>.</p>
            </div>

        </form>
    </div>

    <script>
// Get the modal
        document.getElementById('model').style.display = 'block';
        $('#divError').hide();

        $('#number').inputmask("9999-9999999");
        $('#cnic').inputmask("99999-9999999-9");


        function validate() {
            var pass = document.getElementById("password");
            var cpass = document.getElementById("cpassword");
            if (pass.value != cpass.value || pass.value.length < 6) {
                pass.style.borderBlockColor = "red";
                cpass.style.borderBlockColor = "red";
                return false;

            } else {
                pass.style.borderBlockColor = "green";
                cpass.style.borderBlockColor = "green";
                return true;
            }
        }
        function checkPhoneNumber() {
            // Check Phone Number
            CallAsyncService('/Common/CheckPhoneNumber?number=' + $('#number').val(), null, checkPhoneNumberCB);

            function checkPhoneNumberCB(response) {
                if (!response.status) {
                    isValid = false;
                    msg = response.message;
                    $('#numberError').html(msg);
                    return false;
                } else {
                    $('#numberError').html('');
                    return true;
                }
            }
        }

        function checkEmail() {
            // Check Email

            CallAsyncService('/Common/CheckEmail?email=' + $('#email').val(), null, checkEmail);

            function checkEmail(response) {
                if (!response.status) {
                    isValid = false;
                    msg = response.message;
                    $('#emailError').html(msg);
                    return false;
                } else {
                    $('#emailError').html('');
                    return true;
                }
            }
        }

        function checkCNIC() {
            // Check CNIC

            CallAsyncService('/Common/CheckCNIC?cnic=' + $('#cnic').val(), null, checkCNICCB);

            function checkCNICCB(response) {
                if (!response.status) {
                    isValid = false;
                    msg = response.message;
                    $('#cnicError').html(msg);
                    return false;
                } else {
                    $('#cnicError').html('');
                    return true;
                }
            }
        }

        $('#btnSubmit').click(function () {
            let isValid = true;
            var msg;
            // Loop through each input field with the "required" attribute
            $('input[required]').each(function () {
                if ($(this).val().trim() === '') {
                    isValid = false;
                    $('#divError').show();
                    msg = 'Please fill in all required fields.';
                    $('#error').html(msg);
                    return false;
                } else {
                    $(this).removeClass('error');
                }
            });
            //if (!checkPhoneNumber()) {
            //    isValid = false;
            //    msg = "Phone Number Already exist"
            //    $('#divError').show();
            //    $('#error').html(msg);
            //    return false;
            //}
            //if (!checkCNIC()) {
            //    isValid = false;
            //    msg = "CNIC Already exist"
            //    $('#divError').show();
            //    $('#error').html(msg);
            //    return false;
            //}
            //if (!checkPhoneNumber()) {
            //    isValid = false;
            //    msg = "Email Already exist"
            //    $('#divError').show();
            //    $('#error').html(msg);
            //    return false;
            //}

            
            

            if (!isValid) {
                debugger
                $('#error').html(msg);
                return false; // Prevent form submission
            } else {
                debugger
                $('#registerForm').submit();
            }
        });
    </script>

</body>
</html>
