
@{
    Page.Title = "Result";
    Layout = "~/Views/Shared/_LayoutAdminPanal.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="boxWraper">
                <div class="headBox">
                    <h2>Manage Records</h2>
                    <div class="btnWraper">
                        <div class="row">
                            <div class="col-lg-12">
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#result" role="tab" data-toggle="tab"
                           class="nav-link active"> Result Manager </a>
                    </li>
                    <li class="nav-item">
                        <a href="#eApp" role="tab" data-toggle="tab"
                           class="nav-link"> Move records to E-Application </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="result">

                        <div class="headBox">
                        </div>
                        <form id="modalForm" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>Result: </label>
                                                    <input type="radio" name="result" id="radioFail" onclick="toggleFormSection('divShiftData', 'radioPass');" value="1" />
                                                    <label for="radioFail">Fail</label>
                                                    <input type="radio" name="result" id="radioPass" onclick="toggleFormSection('divShiftData', 'radioPass');" value="2" />
                                                    <label for="radioPass">Pass</label>
                                                    <span class="text-danger" id="errResult"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-12" id="divShiftData">
                                                <div class="form-group">
                                                    <label>Move records to E-Application: </label>
                                                    <input type="radio" name="shift" id="radioYes" value="1" />
                                                    <label for="radioYes">Yes</label>
                                                    <input type="radio" name="shift" id="radioNo" value="0" />
                                                    <label for="radioNo">No</label>
                                                    <span class="text-danger" id="errShift"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label>
                                                        HUTOPS Ids File: (Select only Excel File having extension .xlsx or .xls)
                                                        <br />
                                                        <a href="~/Content/HUTOPS Ids Demo File.xlsx" class="text-info">Download template</a>
                                                        <br />
                                                    </label>
                                                    <input class="form-control" type="file" id="HUTOPSIdsFile" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <button type="button" class="savebtn global-btn-purple  float-right" onclick="SubmitResultBatch()">Upload Result</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    <div class="tab-pane" role="tabpanel" id="eApp">
                        <div class="headBox">
                        </div>
                        <form id="EAppForm" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    HUTOPS Ids File: (Select only Excel File having extension .xlsx or .xls)
                                                    <br />
                                                    <a href="~/Content/HUTOPS Ids Demo File.xlsx" class="text-info">Download template</a>
                                                    <br />
                                                </label>
                                                <input class="form-control" type="file" id="eAppHUTOPSIdsFile" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button type="button" class="savebtn global-btn-purple  float-right" onclick="SubmitRecordsToEApp();">Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('#divShiftData').hide();
</script>