
@{
    ViewBag.Title = "Admission closed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .progress{
        display:none;
    }
</style>
<p style="text-align: center; margin: 20px;"><img class="activeTyIcon" src="~/Content/img/Admissionclosed.jpg" alt="" width="150" height="150" /></p>
<div class="row d-flex justify-content-center">
    <div class="col-lg-8">
        <p style="text-align: center;">
            <strong>Note: </strong>
            The application window for HU TOPS Fall 2024 admissions has now closed. If you were unable to submit your application on time, we appreciate your enthusiasm and recommend staying informed about future opportunities. For inquiries, please feel free to email us at<br />
            <a href="mailto:tops@habib.edu.pk" style="color: #5d2468; font-weight:bold;">tops@habib.edu.pk</a>
        </p>
    </div>


</div>
