
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="text-align: center;"><img class="activeTyIcon" src="https://cdn.jotfor.ms/img/check-icon.png" alt="" width="128" height="128" /></p>
<div style="text-align: center;">
    <h1 style="text-align: center;">Thank You!</h1>
    @*<p style="text-align: center;">
        Your submission has been received.
    </p>*@
    <p style="text-align: center;">
        Thank you for your submission. We have successfully received your application. 
        Following our review process, <br /> you can expect to be contacted regarding your 
        application status after 12th February. <br />Should you have any concerns or queries in the meantime,
                                      <br />please do not hesitate to reach out to us at.<br />
        <a href="mailto:tops@habib.edu.pk" style="color: #5d2468; font-weight:bold;">tops@habib.edu.pk</a>
    </p>
</div>

