
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="text-align: center;"><img class="activeTyIcon" src="https://cdn.jotfor.ms/img/check-icon.png" alt="" width="128" height="128" /></p>
<div style="text-align: center;">
    <h1 style="text-align: center;">Thank You!</h1>
    <p style="text-align: center;">
        Your submission has been received. You
        will be contacted by or before the first
        week of February 2024 regarding your
        application status. In case of any
        concerns, please feel free to write to us
        at <a href="mailto:tops@habib.edu.pk" style="color: #5d2468;">tops@habib.edu.pk</a>
    </p>
</div>

