
@{
    ViewBag.Title = "TermAndConditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-center">
    <div class="col-lg-4">
        <p><strong>Who Can Apply?</strong></p>
        <ul style="font-size:16px;">
            <li>
                Graduated from or Enrolled in any of the following board:
                <ul>
                    <li>
                        <ol>
                            <li>Board of Intermediate Education</li>
                            <li>Federal Board of Pakistan</li>
                            <li>Aga Khan University Examination Board</li>
                        </ol>
                    </li>
                </ul>
            </li>
            <li>Have completed or will complete HSSC II by September 2023</li>
            <li>Planning to pursue a four-year undergraduate program at Habib University</li>
            <li>
                Have scored the following marks:
                <ul>
                    <li>Science Group: <br>80% or above in SSC (Matric) 75% or above in HSSC (Intermediate)</li>
                    <li>Other Groups:<br>75% or above in SSC (Matric) 70% or above in HSSC (Intermediate)</li>
                </ul>
            </li>
        </ul>
        <p><strong>Read the following instructions carefully before starting your application.</strong></p>
        <ul style="font-size:16px;">
            <li>You need to fill in this form in one sitting as you cannot save it to be completed later on.</li>
            <li>
                Before starting filling in the HU TOPS Registration Form, keep the following documents and files ready with you:
                <ul>
                    <li>Soft copy/digital copy of your passport size photograph</li>
                    <li>Your SSC Marks Sheet and its scanned copy/image</li>
                    <li>Your HSSC Marks Sheet and its scanned copy/image <br><span style="color: #ea3223;"><em>Note: This requirement is only mandatory for students who have received their HSSC-I or HSSC-II marks-sheet from their respective examination board.</em></span></li>
                    <li>Your B-Form or CNIC and its scanned copy/image (If available)</li>
                </ul>
            </li>
        </ul>
        <a href="/Application/Index" class="global-btn-purple">Start Application</a>
    </div>


</div>
