
@{
    ViewBag.Title = "Term And Conditions";
    ViewBag.MetaTitle = "Apply for HUTOPS - Habib University Talent Outreach Program";
    ViewBag.MetaDescription = "Apply for Habib University's Talent Outreach, Promotion, and Support (HUTOPS) program. Access educational opportunities and financial support for talented students.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .progress{
        display:none;
    }
</style>

<div class="row d-flex justify-content-center">
    <div class="col-lg-8">
        <p><strong>Who Can Apply?</strong></p>
        <ul>
            <li>
                Graduated from or Enrolled in any of the following board:
				<ol>
                    <li>Board of Intermediate Education</li>
                    <li>Federal Board of Pakistan</li>
                    <li>Aga Khan University Examination Board</li>
                </ol>
            </li>
            <li>Have completed or will complete HSSC II by September 2025</li>
            <li>Planning to pursue a four-year undergraduate program at Habib University</li>
            <li>
                Have scored the following marks:
                <ul>
                    <li>Science Group: <br>80% or above in SSC (Matric) 75% or above in HSSC (Intermediate)</li>
                    <li>Other Groups:<br>75% or above in SSC (Matric) 70% or above in HSSC (Intermediate)</li>
                </ul>
            </li>
        </ul>
        <p><strong>Read the following instructions carefully before starting your application.</strong></p>
        <ul>
            <li class="f-13">You need to fill in this form in one sitting as you cannot save it to be completed later on.</li>
            <li class="f-13">
                Note that submitting an HU
                TOPS application
                simultaneously with a regular
                admission application is not
                allowed. However, if
                applicants are unsuccessful in
                the HU TOPS qualifying round
                test, they may be eligible to
                submit a regular admission
                application, subject to the
                prevailing policy.
            </li>
            <li class="f-13">
                Before starting filling in the HU TOPS Registration Form, keep the following documents and files ready with you:
                <ul>
                    <li>Soft copy/digital copy of your passport size photograph</li>
                    <li>Your SSC Marks Sheet and its scanned copy/image</li>
                    <li>Your HSSC Marks Sheet and its scanned copy/image <br><span style="color: #ea3223; font-size: 12px; line-height: normal;">Note: This requirement is only mandatory for students who have received their HSSC-I or HSSC-II marks-sheet from their respective examination board.</span></li>
                    <li>Your B-Form or CNIC and its scanned copy/image (If available)</li>
                </ul>
            </li>
        </ul>
        <a href="/Application/Index" class="global-btn-purple">Start Application</a>
    </div>


</div>
