@using HUTOPS.Helper
@{
    Page.Title = "All Students";
    Layout = "~/Views/Shared/_LayoutAdminPanal.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="boxWraper">
                <div class="headBox">
                    <h2>Filters</h2>
                </div>
                <form id="searchForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>HUTOPS Id</label>
                                <input type="text" class="form-control" id="txtFilterHUTOPSId" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" id="txtFilterName" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>CNIC</label>
                                <input type="text" class="form-control cnic" id="txtFilterCNIC" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control number" id="txtFilterPhoneNumber" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control cnic" id="txtFilterEmail" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Admission Session</label>
                                <select id="comboFilterAdmissionSession" class="form-control">
                                    <option value="">Select Admission Session</option>
                                    <option value="HUTOPS24">2024</option>
                                    <option value="HUTOPS25">2025</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <select class="form-control mr-2" id="applicationStatus" name="applicationStatus">
                                <option value="">Select Application Status</option>
                                <option value="PENDING">PENDING</option>
                                <option value="ACCEPT">ACCEPT</option>
                                <option value="REJECT">REJECT</option>
                                <option value="ACCEPT SSC">ACCEPT SSC</option>
                            </select>
                        </div>
                        <div class="col-lg-8">
                            <input class="savebtn global-btn-purple  float-right m-1" type="submit" id="btnSearch" value="Search">
                            <input class="savebtn global-btn-purple  float-right m-1" type="button" id="btnClear" value="Clear">
                        </div>
                    </div>
                </form>
            </div>
            <div class="boxWraper" style="overflow-y:auto;">
                <div class="headBox">
                    <h2>All Applicants</h2>
                    <div class="btnWraper">
                        <div class="row">
                            <div class="col-lg-12 d-flex">
                                <form id="formDownload" action="/Student/Download">
                                    <button class="savebtn global-btn-purple  float-right m-1" type="button" onclick="downloadSubmit();" id="btnDownload">Download All</button>
                                </form>
                                @if(Utility.GetAdminFromSession().UserType == 1) {
                                <input class="savebtn global-btn-purple  float-right m-1" type="button" value="Close Current Student Profile" onclick="closeStudentProfile();">
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @* table *@
                <table class="ctmTable table table-responsive table-hover" id="main-datatables">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>HUTOPS Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Cell Phone Number</th>
                            <th>Email Address</th>
                            <th>CNIC/B-Form</th>
                            <th>Application&nbsp;Status&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th>Result</th>
                            <th>Record Move To E-App</th>
                            <th>Admit Card Generated</th>
                            <th>Admit Card Generated On</th>
                            <th>Admit Card Sent</th>
                            <th>Admit Card Sent On</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                @* table *@
            </div>

        </div>
    </div>
</div>
<a href="@Url.Action("Index","Application")" id="redirectToStudent" target="_blank"  style="display:none;"> </a>

@* Admit Card Generation Modal *@
<div class="modal fade" id="modalAdmitCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Generate Admit Card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modalForm" enctype="multipart/form-data">
                    <input type="text" id="applicantId" hidden/>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Test Date:</label>
                                        <input class="form-control" type="date" id="testDate" required />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Shift:</label>
                                        <select class="form-control" id="comboShift" required>
                                            <option value="">Select Shift</option>
                                            <option value="1">First</option>
                                            <option value="2">Second</option>
                                            <option value="3">Third</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Venue: </label><br />
                                        <input type="radio" name="venue" id="radioKarachi" value="Karachi" />
                                        <label for="radioKarachi"> Karachi </label>
                                        <input type="radio" name="venue" id="radioIslamabad" value="Islamabad" />
                                        <label for="radioIslamabad">Islamabad</label>
                                        <span class="text-danger" id="errVenue"></span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="savebtn global-btn-purple  float-right" onclick="SubmitAdmitCard()" style="margin:0;">Save changes</button>
            </div>
        </div>
    </div>
</div>

@* Document View Modal *@

<div class="modal fade" id="modalDocument" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title border-bottom-0" style="font-weight: bold;color: #5d2468;">View Documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="divPhoto">
                    <div class="col-lg-6">
                        <label>Photo</label>
                    </div>
                    <div class="col-lg-6 text-center">
                        <a href="/Application/View?Name=Photo" id="Photo" target="_blank"><i class="fa-solid fa-eye" style="color: #5d2468;"></i></a>
                    </div>
                </div>
                <div class="row" id="divSSC">
                    <div class="col-lg-6">
                        <label>SSC Mark Sheet</label>
                    </div>
                    <div class="col-lg-6 text-center">
                        <a href="/Application/View?Name=SSC Mark Sheet" id="SSC" target="_blank"><i class="fa-solid fa-eye" style="color: #5d2468;"></i></a>
                    </div>
                </div>
                <div class="row" id="divHSSC">
                    <div class="col-lg-6">
                        <label>HSSC Mark Sheet</label>
                    </div>
                    <div class="col-lg-6 text-center">
                        <a href="/Application/View?Name=HSSC Mark Sheet" id="HSSC" target="_blank"><i class="fa-solid fa-eye" style="color: #5d2468;"></i></a>
                    </div>
                </div>
                <div class="row" id="divCNIC">
                    <div class="col-lg-6">
                        <label>CNIC</label>
                    </div>
                    <div class="col-lg-6 text-center">
                        <a href="/Application/View?Name=CNIC" target="_blank" id="CNIC"><i class="fa-solid fa-eye" style="color: #5d2468;"></i></a>
                    </div>
                </div>
                </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        LoadStudentDatatable(@Utility.GetAdminFromSession().UserType);
        document.getElementById("searchForm").addEventListener("submit", submitSearchForm);
    })

    function downloadSubmit() {
        var form = $("#formDownload");
        $("#formDownload input").remove();
        form.append("<input type='hidden' name='Name' value='" + $("#txtFilterName").val() + "' />");
        form.append("<input type='hidden' name='HUTOPSId' value='" + $("#txtFilterHUTOPSId").val() + "' />");
        form.append("<input type='hidden' name='CNIC' value='" + $("#txtFilterCNIC").val() + "' />");
        form.append("<input type='hidden' name='Phone' value='" + $("#txtFilterPhoneNumber").val() + "' />");
        form.append("<input type='hidden' name='Email' value='" + $("#txtFilterEmail").val() + "' />");
        form.append("<input type='hidden' name='AdmissionSession' value='" + $("#comboFilterAdmissionSession").val() + "' />");
        form.append("<input type='hidden' name='ApplicationStatus' value='" + $("#applicationStatus").val() + "' />");
        form.submit();
    }
</script>
