
@{
    Layout = "~/Views/Shared/_LayoutAdminPanal.cshtml";
    Page.Title = "Index";
}
<div class="container-fluid">
    <div class="boxWraper infoBox">
        <div class="headBox">
            <h2>Declarations</h2>
        </div>
    </div>
</div>

