
@{
    Layout = "~/Views/Shared/_LayoutAdminPanal.cshtml";
    Page.Title = "Index";
}
<div class="container-fluid">
    <div class="boxWraper infoBox">
        <div class="headBox">
            <h2>Declarations</h2>
        </div>
        <form method="post">
            <div class="row">
                <div class="col-lg-6">
                    <div class="headBox">
                        <h5 class="text-info">Personal Information</h5>
                        @if (ViewBag.Personal == "0" || ViewBag.Personal == "")
                        {
                            <label class="text-danger"> Pending</label>
                        }
                        else if (ViewBag.Personal == "1")
                        {
                            <label class="text-success"> Completed</label>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="headBox">
                        <h5 class="text-info">Educational Information</h5>
                        @if (ViewBag.Edu == "0" || ViewBag.Edu == "")
                        {
                            <label class="text-danger"> Pending</label>
                        }
                        else if (ViewBag.Edu == "1")
                        {
                            <label class="text-success"> Completed</label>
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="headBox">
                        <h5 class="text-info">Documents</h5>
                        @if (ViewBag.Docs == "0" || ViewBag.Docs == "")
                        {
                            <label class="text-danger"> Pending</label>
                        }
                        else if (ViewBag.Docs == "1")
                        {
                            <label class="text-success"> Completed</label>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <input type="checkbox" id="validInfo" class="styled-checkbox" name="validInfo" required>
                    <label for="validInfo" class="checkbox-label" style="width: 75%;">
                        The Information provided by me regarding this application is true and complete.
                    </label>
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <input type="checkbox" id="invalidInfo" class="styled-checkbox" name="invalidInfo" required>
                    <label for="invalidInfo" class="checkbox-label" style="width: 75%;">I understand that any inaccurate/false information shall render this application invalid, and if admitted on the basis of such information, I may be asked to leave at any stage of the program.</label>
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <input type="checkbox" id="validateLaw" class="styled-checkbox" name="invalidInfo" required>
                    <label for="validateLaw" class="checkbox-label" style="width: 75%;">
                        I understand that the provision of any inaccurate or false information may render me liable to prosecution in a court of law in Pakistan.
                    </label>
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @if (ViewBag.Declaration != 1 || HUTOPS.Helper.Utility.GetAdminFromSession().Name != null)
                    {
                        <input class="savebtn global-btn-purple  float-right" type="button" onclick="submitDeclaration();" value="Submit">
                    }
                    else
                    { <span class="text-danger float-right">You have already Submited your Application</span>
                    }
                </div>
            </div>

        </form>
    </div>
</div>



